# Data Structures

## Lists

The following are single data type lists:

In [1]:
list1 = [1,2,3,4,5,6]

In [2]:
list2 = ["vikas", "sarma", "sagar"]

Mixed data type list:

In [3]:
list3 = [1, "vikas", 2, "sarma", 3, "sagar"]

In [7]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar']

### Sub-setting

To extract single element out of a list:

In [4]:
list3[1]

'vikas'

To extract a sequence of elements:

In [5]:
list3[1:4]

['vikas', 2, 'sarma']

In the above example, the list starts at index position 1 and goes till index position 3 i.e., (4-1)

In [6]:
list3[2:5]

[2, 'sarma', 3]

Not giving a last index, makes it extract till the last element:

In [23]:
list3[2:]

[2, 'sarma', 3, 'sagar', 6, [7, 8]]

Not giving a first index, makes it extract from the first element:

In [24]:
list3[:5]

[1, 'vikas', 2, 'sarma', 3]

To extract the elements using negative index:

In [8]:
list3[-1]

'sagar'

which is equivalent to:

In [9]:
list3[5]

'sagar'

### Adding element to existing list

Add a single element:

In [10]:
list3.append(5)

In [11]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar', 5]

Add multiple elements:

In [13]:
list3.extend([5,6])

In [14]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar', 5, 5, 6]

Add a list to a list:

In [15]:
list3.append([7,8])

In [16]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar', 5, 5, 6, [7, 8]]

In [17]:
list3[9]

[7, 8]

### Delete elements of a list

Deleting element by value:

In [18]:
list3.remove(5)

In [19]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar', 5, 6, [7, 8]]

Deleting element by index:

In [20]:
del list3[6]

In [21]:
list3

[1, 'vikas', 2, 'sarma', 3, 'sagar', 6, [7, 8]]

### Looping over a list

Printing each element of a list:

In [22]:
for i in list3:
    print(i)

1
vikas
2
sarma
3
sagar
6
[7, 8]